@import "./reset";
@import "./variables/global";
@import "./theme/dark";
@import "./theme/light";

.app {
    font: var(--font-m);
    background-color: var(--bg-color);
    color: var(--color-primary);
    min-height: 100vh;
}

.content-page {
    display: flex;
}

.page-wrapper {
    padding: 20px;
    flex-grow: 1;
}
